*{
    font-family: sans-serif;
    margin: 0;
}
body{
    background-color: gray;
}
.holder{
    text-align: center;
}
.Amount{
    margin-top: 20px;
    margin-bottom: 30px;
}
.fartbins div{
    height: 10em;
    width: 20em;
    display: inline-block;
    border: 2px solid black;
    border-radius: 20px;
    background-color: aliceblue;
}