<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hc/css/create.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&display=swap" rel="stylesheet">

    <title>fartbin</title>
</head>
<body>
    <h1 class="main-text"><p>Create a </p><p class="fart">fartbin</p></h1>
    <div class="input-holder">
    <form action="/createPOST" method="post">
        <p style="color:red;margin-top: 10px;visibility:hidden;" id="title-error">Title cant be longer than 40 characters</p>
        <input class="input" type="text" name="title" id="title" placeholder="The title (required)">
        <p style="color:red;margin-top: 10px;visibility:hidden;" id="data-error">Text cant be longer than 500000 characters</p>
        <textarea class="input" name="data" id="data" cols="1000" rows="1000" placeholder="The text (required)"></textarea>
        <p style="color:red;margin-top: 10px;visibility:hidden;" id="author-error">Author cant be longer than 30 characters</p>
        <input class="input" type="text" id="author" name="author" placeholder="The author (required)">
        <input class="input" type="submit" value="create" id="submit">
    </form>
    </div>
    <script src="hc/js/create.js"></script>
</body>
</html>