<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fartbin</title>
</head>
<body>
    <h1>go to <a href="https://fartbin.cf/create">https://fartbin.cf/create</a> to create fartbin</h1>
    <h1>or go to <a href="https://fartbin.cf/search">https://fartbin.cf/search</a> to see all the fartbins created</h1>
    <br><br><br><br><br><br><br>
    this is still beta or something idk
</body>
</html>