<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fartbin</title>
</head>
<body>
    <h1>bro</h1>
    <form action="/createPOST" method="post">
        <textarea name="data" id="data" cols="200" rows="50"></textarea>
        <input type="text" id="author" name="author" placeholder="Provide author">
        <input type="submit" value="create :hot_face:">
    </form>
</body>
</html>