<div id="holder">hmmmm</div>

<script type="text/javascript">
    /*pls fucking fix this shit

    /*var inner = "";
    let data = "<%=JSON.stringify(data)%>";
    console.log(data);
    document.getElementById("holder").innerHTML = inner;*/
</script>