<div id="holder"><%=JSON.stringify(obj)%></div>

<script type="text/javascript">
    var inner = "";
    var index = document.getElementById("holder").innerHTML;
    var data = JSON.parse(index);
    for(var i = 0; i < data["length"]; i++){
       inner = inner + "<br><br>Title: " + data["title"+i] + "<br>url: https://fartbin.cf/" + data["url"+i];
    }
    document.getElementById("holder").innerHTML = inner;
</script>