<html>
    <head>
        <link rel="stylesheet" href="hc/css/search.css">
    </head>
    <body>
        <div id="holder" class="holder"><%=JSON.stringify(obj)%></div>
        <script type="text/javascript" src="hc/js/search.js"></script>
    </body>
</html>