<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/hc/css/notfound.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <h2>Oops!</h2>
        </div>
        <div id="bottom">
            Its looks like the page you was looking for doesn't exist.
        </div>
    </div>

    <div id="credit">
        <p id="credit-p">made by <a id="credit-a" href="https://beaverbeg.cf">beaverbeg</a></p>
    </div>
</body>
</html>